body {
    background-color: #bbe9db;
}

hr {
    /* background-color: #86A789; */
    border-style: none;
    border-top-style: dotted;
    border-color: #E3B448;
    border-width: 5px;
    width: 33%;
}

img {
    height: 220px;
}


h1 {
    color: #35495e;
}

h3 {
    color: #35495e;
}